@{
    ViewData["Title"] = "Tableros";
}

@model List<Proyecto.ViewModels.ListarTableroViewModel>

<h1>@ViewData["Title"]</h1>

<div class="table-container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <div class="action-buttons">
                    <th>
                        <a class="btn btn-success" asp-controller="Tablero" asp-action="AgregarTablero">Agregar Tablero</a>
                        <a class="btn btn-info" asp-controller="Usuario" asp-action="Index" asp-route-idTablero=null>Volver a Usuarios</a>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>
                        <a class="btn btn-info" asp-controller="Tarea" asp-action="Index" asp-route-idTablero=null>Ver todas las Tareas (Administrador)</a>
                    </th>
                </div>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Usuario Propietario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tablero in Model)
            {
                <tr>
                    <td>@tablero.Nombre</td>
                    <td>@tablero.Descripcion</td>
                    <td>@(tablero.IdUsuarioPropietario != null ? tablero.NombreUsuarioPropietario : "No Asignado")</td>
                    <td>@tablero.EstadoTablero</td>
                    <td>
                        <div class="action-buttons">
                            <a class="btn btn-info" asp-controller="Tarea" asp-action="Index" asp-route-idTablero="@tablero.Id">Ver Tareas</a>
                            <a class="btn btn-primary" asp-controller="Tablero" asp-action="EditarTablero" asp-route-idTablero="@tablero.Id">Editar</a>
                            <a class="btn btn-danger" asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>      
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {<partial name="_ValidationScriptsPartial" />}
