@{
    ViewData["Title"] = "Tareas";
}

@model List<Proyecto.ViewModels.ListarTareaViewModel>

<h1>@ViewData["Title"]</h1>

<div class="table-container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <div class="action-buttons">
                    <th>
                        <a class="btn btn-success" asp-controller="Tarea" asp-action="AgregarTarea">Agregar Tarea</a>
                        <a class="btn btn-info" asp-controller="Usuario" asp-action="Index" asp-route-idTablero=null>Volver a Usuarios</a>
                    </th>
                </div>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Descripcion</th>
                <th>Color</th>
                <th>Id Tablero</th>
                <th>Id Usuario Asignado</th>
                <th>Id Usuario Propietario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var tarea in Model)
            {
                <tr>
                    <td>@tarea.Nombre</td>
                    <td>@tarea.EstadoTarea</td>
                    <td>@tarea.Descripcion</td>
                    <td>@tarea.Color</td>
                    <td>@tarea.IdTablero</td>
                    <td>@tarea.IdUsuarioAsignado</td>
                    <td>@tarea.IdUsuarioPropietario</td>
                    <td>
                        <div class="action-buttons">
                            <a class="btn btn-primary" asp-controller="Tarea" asp-action="CambiarEstadoTarea" asp-route-idTarea="@tarea.Id">Cambiar Estado</a>
                            <a class="btn btn-primary" asp-controller="Tarea" asp-action="AsignarTarea" asp-route-idTarea="@tarea.Id">Asignar Usuario</a>
                        </div>
                        <div class="action-buttons" style="margin-top: 10px;">
                            <a class="btn btn-primary" asp-controller="Tarea" asp-action="EditarTarea" asp-route-idTarea="@tarea.Id">Editar</a>
                            <a class="btn btn-danger" asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a> 
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {<partial name="_ValidationScriptsPartial" />}
