@model Proyecto.ViewModels.LoginViewModel
@if(TempData["Mensaje"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Mensaje"]
    </div>
}
<form asp-controller="Login" asp-action="ValidarUsuario" method="post">

    <div class="form-group" style="max-width: 200px;">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
        <span asp-validation-for="@Model.Nombre" class="text-danger "></span>    
    </div>
    <div class="form-group" style="max-width: 200px;">
        <label asp-for="@Model.Contrasenia"></label>
        <input asp-for="@Model.Contrasenia" class="form-control" />
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }